In [3]:
import os
os.environ["TF_CPP_MIN_LOG_LEVEL"] = '2' #um Warnmeldung loszuwerden

import matplotlib.pyplot as plt
import pandas as pd

import numpy as np
np.set_printoptions(precision=3, suppress=True) #numpy outputs einfacher zu lesen

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.layers.experimental import preprocessing

In [6]:
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'
column_names = ['MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight', 'Acceleration', 'Model Year', 'Origin']

dataset = pd.read_csv(url, names=column_names, na_values='?', comment='\t', skipinitialspace=True)
dataset.tail()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
393,27.0 4 140.0 86.00 2790. 15...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
394,44.0 4 97.00 52.00 2130. 24...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
395,32.0 4 135.0 84.00 2295. 11...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
396,28.0 4 120.0 79.00 2625. 18...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397,31.0 4 119.0 82.00 2720. 19...,NaN,NaN,NaN,NaN,NaN,NaN,NaN